@import "tailwindcss";

:root {
  --color-bg-dark: oklch(0.1 0.075 306);
  --color-bg: oklch(0.15 0.075 306);
  --color-bg-light: oklch(0.2 0.075 306);
 
  --color-text: oklch(0.96 0.1 306);
  --color-text-muted: oklch(0.76 0.1 306);
 
  --color-highlight: oklch(0.5 0.15 306);
  --color-border: oklch(0.4 0.15 306);
  --color-border-muted: oklch(0.3 0.15 306);
 
  --color-primary: oklch(0.76 0.15 306);
  --color-secondary: oklch(0.76 0.15 126);
 
  --color-danger: oklch(0.7 0.15 30);
  --color-warning: oklch(0.7 0.15 100);
  --color-success: oklch(0.7 0.15 160);
  --color-info: oklch(0.7 0.15 260);
}

@theme inline {
  --color-bg-dark: var(--color-bg-dark);
  --color-bg: var(--color-bg);
  --color-bg-light: var(--color-bg-light);
 
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
 
  --color-highlight: var(--color-highlight);
  --color-border: var(--color-border);
  --color-border-muted: var(--color-border-muted);
 
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
 
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --color-success: var(--color-success);
  --color-info: var(--color-info);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color 0.2s ease, color 0.2s ease;
}
