@import "tailwindcss";

:root {
--bg-dark: oklch(0.1 0.095 321);
--bg: oklch(0.15 0.095 321);
--bg-light: oklch(0.2 0.095 321);
--text: oklch(0.96 0.1 321);
--text-muted: oklch(0.76 0.1 321);
--highlight: oklch(0.5 0.19 321);
--border: oklch(0.4 0.19 321);
--border-muted: oklch(0.3 0.19 321);
--primary: oklch(0.76 0.19 321);
--secondary: oklch(0.76 0.19 141);
--danger: oklch(0.7 0.19 30);
--warning: oklch(0.7 0.19 100);
--success: oklch(0.7 0.19 160);
--info: oklch(0.7 0.19 260);
}

@theme inline {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
 
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
 
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
 
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
 
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-success: var(--success);
  --color-info: var(--info);
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: background-color 0.2s ease, color 0.2s ease;
}
